body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #DEBE4D;
    text-align: center;
    justify-content: center;
    height: 100%;
    font-family: 'Figtree', sans-serif; /* Update font-family */
}

.container {
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    max-width: 200px; /* Change width to maximum width */
    border-radius: 14px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.4);
}
 

h3 {
    background-color: #DEBE4D;
    border-radius: 12px;
    padding: 4px;
    margin: 5px;
    font-size: 20px; /* Adjust font size */
    width: 100px; /* Adjust width */
}

.heading {
    color: #DEBE4D;
    font-size: 28px; /* Adjust font size */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.date {
    padding: 4px;
    margin: 5px;
    font-size: 12px;
}

.name {
    padding: 0;
    margin: 0;
    font-size: 16px; /* Adjust font size */
    font-weight: bold;
}

.attribution {
    font-size: 10px; /* Adjust font size */
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        max-width: 100%; /* Change maximum width to 100% for smaller screens */
        margin: 10px; /* Adjust margin */
    }

    h3 {
        font-size: 18px; /* Adjust font size */
    }

    .heading {
        font-size: 24px; /* Adjust font size */
    }

    .date {
        font-size: 10px; /* Adjust font size */
    }

    .name {
        font-size: 14px; /* Adjust font size */
    }

    .attribution {
        font-size: 8px; /* Adjust font size */
    }
}
img{
    border-radius: 12px;
}