body{
    display: flex;
    padding:0;
    margin:0;
    background-color:#DEBE4D ;
    text-align: center;
    justify-content: center;
    height: 120vh;
    font:url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}
.container{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#FFFFFF ;
    width: 300px;
    border: 8px;
    border-radius: 14px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.4); 
    
}
img{
    border-radius: 12px;
}
h3{
    background-color:#DEBE4D ;
    border-radius: 12px;
    padding: 4px;
    margin: 5pxs;
    margin-left: 30px;
    font-size: 24px;
    width: 100px;
}
.heading{
    color:#DEBE4D;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.date{
    padding: 4px;
    margin: 5pxs;
    margin-left: 10px;
    font-size: 12px;
    width: 130px;
}
.name{
    padding: 0px;
    margin: 0pxs;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;

}
.name-img{
    padding: 5px;
    margin: 5pxs;
    margin-left: 30px;
}